nessus-agent:

  lookup:

    #############################################################
    #
    # OPTIONAL Windows parameters for the nessus-agent-formula
    #
    #############################################################

    # `package` is the name of the package definition for the
    # nessus agent.
    #package: nessus-agent

    # `version` is the version of the agent to install. the version
    # must be available in the package repository.
    #version: '7.0.3.20013'

    # `log_config` sets the logging retention configuration for the desired log
    # file within the Nessus Agent for the.
    #log_config:
    #  c:\\\\ProgramData\\\\Tenable\\\\Nessus Agent\\\\nessus\\\\logs\\\\www_server.log:
    #    rotation_strategy: 'daily'
    #    rotation_time: '86400'
    #    max_files: '512'

    #############################################################
    #
    # REQUIRED Linux parameters for the nessus-agent-formula
    # Uncomment and set all required parameters or the formula
    # will fail
    #############################################################

    # URL to the rpm source file
    #package_url: https://S3BUCKET.F.Q.D.N/nessus-agent/NessusAgent-<version>.x86_64.rpm

    #############################################################
    #
    # OPTIONAL Linux parameters for the nessus-agent-formula
    #
    #############################################################

    # Nessus server FQDN
    #nessus_server: 'nessus.server.com'

    # Nessus server key
    #nessus_key: '0000111122223333444455556666777788889999aaaabbbbccccddddeeeeffff'

    # Nessus server port number
    #nessus_port: '8843'

    # Nessus group name
    #nessus_groups: 'NessusAgents'

    # `log_config` sets the logging retention configuration for the desired log
    # file within the Nessus Agent for the.
    #log_config:
    #  /opt/nessus_agent/var/nessus/logs/www_server.log:
    #    rotation_strategy: 'size'
    #    max_size: '268435456'
    #    max_files: '512'
