{#- Initialize a map of default values #}
{%- load_yaml as defaults %}

package: 'nessus-agent'
version: ''
log_config: {}

{%- endload %}

{#- Define the nessus map, merging pillar and default values #}
{%-
    set nessus = salt['pillar.get'](
        'nessus-agent:lookup',
        default=defaults,
        merge=True
    )
%}
